
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/MP10/v15/.suo
landingPage/index.css
landingPage/index.css
landingPage/logo.png
landingPage/index.html
landingPage/index.css
landingPage/index.css
landingPage/index.html
